<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> TecniDrive </title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="index-body">
    <div class="index-container">
        <div class="logo"> TecniDrive </div>
            <h1>Bienvenido</h1>
            <p class="description">
                Gestiona de manera sencilla la información de tus vehículos, mantén el control de tus documentos y recibe recordatorios para cumplir oportunamente con tus obligaciones.
            </p>
        <a href="/login" class="btn">Iniciar sesión</a>
        </div>
</body>
</html>